/* ==========================================================================
   Author's custom styles
   ========================================================================== */
#central_panel {
    margin-top: 20px;
}

#feed_users_middle_container {
    padding-top: 13px;
}
















