{{#each messages}}
<li class="list-group-item">
    <div class="media">
        <div class="media-left">
            <a href="#">
                <img alt="32x32" class="media-object" style="width: 32px;" src="{{picture}}">
            </a>
        </div>
        <div class="media-body">
            <h5 class="media-heading">
                {{name}} <small>@{{username}} - <span class="date-message" data-date="{{created_at}}"></span></small>
            </h5>
            {{message}}
        </div>
    </div>
</li>
{{/each}}